@{
    ViewData["Title"] = "List";
}

@section Styles {
    <style type="text/css">
        body {
            background-color: #fe602b;
        }

        .container {
            text-align: left;
        }
    </style>
}

<div class="container">
    <div class="promotion-item">
        <div class="promotion-description">
            <h1>Carrefour</h1>
            <p>TV LG 40" - $ 999.99</p>
            <p>Only 20 units</p>
        </div>

        <div class="promotion-button">
            Take
        </div>
    </div>

    <span>* All promotions have a deadline of 1 hour.</span>
</div>
