@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <style type="text/css">
        .container {
            color: black;
        }
    </style>
}

<div class="container">
    <img class="register-image" src="~/images/tag.png" />

    <br />

    <h1>Real-Time Promotions</h1>

    <div class="container-form">
        <input type="text" placeholder="Company" id="company" />

        <input type="text" placeholder="Description" id="description" />

        <input type="text" placeholder="Rule" id="rule" />

        <input type="text" placeholder="Address (URL)" id="address" />

        <input type="button" value="Register promotion" id="register" />

        <div class="register-message" id="message"></div>
    </div>
</div>
