@{
    ViewData["Title"] = "Subscribe";
}

@section Styles {
    <style type="text/css">
        body {
            background-color: #fe602b;
        }
    </style>
}

<div class="container">
    <img class="subscribe-image" src="~/images/logo.png" />

    <h1>Real-Time Promotions</h1>

    <div class="container-form">
        <a asp-controller="Home" asp-action="List" class="subscribe-button">Subscribe promotion</a>
    </div>
</div>
