body {
    margin: 0px;
    font-family: sans-serif;
}

input[type=text] {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 1px solid black;
    padding: 15px 25px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 18px;
}

    input[type=text]::placeholder {
        color: gray;
    }

input[type=button] {
    background-color: lightgray;
    color: black;
    border-radius: 25px;
    border: 1px solid black;
    padding: 15px 25px;
    font-size: 18px;
}

    input[type=button]:hover {
        background-color: white;
    }

.container {
    margin: 0 auto;
    padding: 40px;
    color: white;
    max-width: 768px;
    text-align: center;
}

.container-form {
    padding-top: 40px;
}

.promotion-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid white;
    margin-top: 10px;
}

.promotion-description {
    padding: 10px;
}

.promotion-button {
    background-color: white;
    color: #FE602B;
    padding: 20px;
    display: flex;
    align-items: center;
}

.subscribe-image {
    width: 200px;
    padding-left: 40px;
}

.subscribe-button {
    border: 1px solid white;
    padding: 10px 15px;
    color: white;
}

.register-image {
    padding-left: 20px;
}

.register-message {
    padding-top: 20px;
    color: green;
}
